<?xml version="1.0"?>
<robot name="ADAR">

  <material name="Yellow">
      <color rgba="1.0 0.9804 0.5098 1"/>
  </material>

  <material name="Brown">
      <color rgba="0.2275 0.2549 0.2235 1"/>
  </material>

  <material name="Grey">
      <color rgba="0.5569 0.5490 0.5333 1"/>
  </material>


  <link name="adar_link">
    <visual>
      <geometry>
        <box size="0.05 0.09 0.09"/>
      </geometry>
      <material name="Brown"/>
    </visual>
  </link>

  <link name="box">
    <visual>
      <geometry>
        <box size="0.05 0.03 0.03"/>
      </geometry>
      <material name="Yellow"/>
      <origin rpy="0 0 0" xyz="0.001 0 0"/>
    </visual>
  </link>

  <joint name="base_to_box" type="fixed">
    <parent link="adar_link"/>
    <child link="box"/>
  </joint>

  <link name="transducer1">
    <visual>
      <geometry>
        <box size="0.05 0.0015 0.0015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.002 0 0"/>
      <material name="Brown"/>
    </visual>
  </link>

  <joint name="base_to_transducer1" type="fixed">
    <parent link="adar_link"/>
    <child link="transducer1"/>
  </joint>

  <link name="transducer2">
    <visual>
      <geometry>
        <box size="0.05 0.0015 0.0015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.002 0 -0.005"/>
      <material name="Brown"/>
    </visual>
  </link>

  <joint name="base_to_transducer2" type="fixed">
    <parent link="adar_link"/>
    <child link="transducer2"/>
  </joint>

  <link name="transducer3">
    <visual>
      <geometry>
        <box size="0.05 0.0015 0.0015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.002 0 0.005"/>
      <material name="Brown"/>
    </visual>
  </link>

  <joint name="base_to_transducer3" type="fixed">
    <parent link="adar_link"/>
    <child link="transducer3"/>
  </joint>

  <link name="transducer4">
    <visual>
      <geometry>
        <box size="0.05 0.0015 0.0015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.002 -0.005 0"/>
      <material name="Brown"/>
    </visual>
  </link>

  <joint name="base_to_transducer4" type="fixed">
    <parent link="adar_link"/>
    <child link="transducer4"/>
  </joint>

  <link name="transducer5">
    <visual>
      <geometry>
        <box size="0.05 0.0015 0.0015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.002 0.005 0"/>
      <material name="Brown"/>
    </visual>
  </link>

  <joint name="base_to_transducer5" type="fixed">
    <parent link="adar_link"/>
    <child link="transducer5"/>
  </joint>

</robot>
